* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.navigator {
    background-color: black;
}

.nav {
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
}

.nav-head {
    font-size: 45px;
    color: white;
    margin-left: 25px;
}

.profile-container {
    padding: 10px;
}

.profile-contents {
    width: 100%;
    display:inline-flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    
}
.profile-image {
    height: 200px;
    width: 200px;
    border-radius: 10px;
} 

.profile-content {
    width:60%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow : 1px 1px 1px 1px;
    font-size: 20px;
    text-align: justify;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 10px;
    gap: 15px;
}

.project-card {
    background: rgb(214, 207, 207);
    padding: 5px;
    border: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #aaaaaa;
    width:48%;
}

.project-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 90%;
    height:18rem;
}







